<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="scss.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
  <link rel="stylesheet" href="./slick/slick.css">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <title>Page Title</title>
</head>

<body>
 div.top__line We're open and available for takeaway & delivery. <span>Order Now</span>

<div class="container">  
    div.menu__mean

     logo <img src="./img/IMAGE.png" alt="">  
     ul.menu 
      li Home
      li Order
      li Company
      li FAQ
      li Contact
      li 
        logo.backet 
         <img src="./img/Frame.png" alt="">  
         <img src="./img/Vector.png" class="bascet" alt="">  

</div>
  <div id="top" onclick="toTop();"><img src="./img/image 1.png" alt="no pic" /></div>
</body>

</html>

<script src="./jquery-1.12.4.js" type="text/javascript"></script>
<script src="./slick/slick.min.js" type="text/javascript"></script>
<script src="./script.js" type="text/javascript"></script>